<div id="<%= dom_id experiment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= experiment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hypothesis:</strong>
    <%= experiment.hypothesis %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Actions taken:</strong>
    <%= experiment.actions_taken %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= experiment.start_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End date:</strong>
    <%= experiment.end_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= experiment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Inspection summary:</strong>
    <%= experiment.inspection_summary %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Adaptation summary:</strong>
    <%= experiment.adaptation_summary %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Goal:</strong>
    <%= experiment.goal_id %>
  </div>
</div>
