<%= form_with(model: experiment, class: "contents") do |form| %>
  <% if experiment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul class="list-disc ml-6">
        <% experiment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:name].none?, "border-red-400 focus:outline-red-600": experiment.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :hypothesis %>
    <%= form.textarea :hypothesis, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:hypothesis].none?, "border-red-400 focus:outline-red-600": experiment.errors[:hypothesis].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :actions_taken %>
    <%= form.textarea :actions_taken, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:actions_taken].none?, "border-red-400 focus:outline-red-600": experiment.errors[:actions_taken].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :start_date %>
    <%= form.datetime_field :start_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:start_date].none?, "border-red-400 focus:outline-red-600": experiment.errors[:start_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :end_date %>
    <%= form.datetime_field :end_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:end_date].none?, "border-red-400 focus:outline-red-600": experiment.errors[:end_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:status].none?, "border-red-400 focus:outline-red-600": experiment.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :inspection_summary %>
    <%= form.textarea :inspection_summary, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:inspection_summary].none?, "border-red-400 focus:outline-red-600": experiment.errors[:inspection_summary].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :adaptation_summary %>
    <%= form.textarea :adaptation_summary, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:adaptation_summary].none?, "border-red-400 focus:outline-red-600": experiment.errors[:adaptation_summary].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :goal_id %>
    <%= form.text_field :goal_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": experiment.errors[:goal_id].none?, "border-red-400 focus:outline-red-600": experiment.errors[:goal_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
