<%= form_with(model: kvm, class: "contents") do |form| %>
  <% if kvm.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(kvm.errors.count, "error") %> prohibited this kvm from being saved:</h2>

      <ul class="list-disc ml-6">
        <% kvm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": kvm.errors[:name].none?, "border-red-400 focus:outline-red-600": kvm.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": kvm.errors[:description].none?, "border-red-400 focus:outline-red-600": kvm.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :unit_of_measure %>
    <%= form.text_field :unit_of_measure, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": kvm.errors[:unit_of_measure].none?, "border-red-400 focus:outline-red-600": kvm.errors[:unit_of_measure].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :is_active %>
    <%= form.checkbox :is_active, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": kvm.errors[:is_active].none?, "border-red-400 focus:outline-red-600": kvm.errors[:is_active].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :organization_id %>
    <%= form.text_field :organization_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": kvm.errors[:organization_id].none?, "border-red-400 focus:outline-red-600": kvm.errors[:organization_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :kva_id %>
    <%= form.text_field :kva_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": kvm.errors[:kva_id].none?, "border-red-400 focus:outline-red-600": kvm.errors[:kva_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
